.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #9b5c9b;
    align-items: center;
}
.logo {
    color: #888;
}

.links {
    display: flex;
    gap: 30px;

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: 0.3s;

        &:hover {
            color:#888
        }
    }
}
