@import "../../styles/variables.scss";


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    background-color: $primary-color;
    align-items: center;
}
.logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    align-items: center;
    gap: 28px;

    a {
        text-decoration: none;
        color: $text-color;
        font-size: 15px;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
            color:#888
        }
    }
}
