.notfound{
    text-align: center;
    padding: 100px 20px;
    color: whitesmoke;
}

.notfound h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.notfound a {
    color: #9b5c9b;
    text-decoration: none;
    font-weight: bold;
}